h1 {
  text-align: center;
  margin: 30px auto 0;
  font-size: 60px;
  color: black;
}

.image-keyboard,
.image-mouse {
  position: absolute;
  left: 85%;
  top: 85%;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
}

.image-keyboard {
  background-image: url("../images/keyboard.png");
}

.image-mouse {
  background-image: url("../images/mouse.png");
}

#container {
  width: 950px;
  height: 400px;
  margin: 40px auto 50px;
}

.game-block {
  position: relative;
  width: 400px;
  height: 400px;
}

#left-block {
  float: left;
}

#right-block {
  float: right;
}

#pic-block {
  width: 400px;
  height: 400px;
  border-radius: 2.5%;
  background-size: 400px 400px;
  background-image: url("../images/1.png");
}

#buttons {
  text-align: center;
}

button {
  width: 150px;
  height: 50px;
  margin: 0 55px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
}

.pic {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  border: solid white 1px;
  background-size: 400px 400px;
  opacity: 1;
}

.pic:hover {
  opacity: 0.9;
}

button:hover {
  cursor: pointer;
}
