html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin: 60px auto 70px;
  font-size: 80px;
  color: black;
}

.image-keyboard,
.image-mouse {
  position: absolute;
  left: 85%;
  top: 85%;
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
}

.image-keyboard {
  background-image: url("../images/keyboard.png");
}

.image-mouse {
  background-image: url("../images/mouse.png");
}

#container {
  width: 1200px;
  height: 500px;
  margin: 50px auto;
}

.game-block {
  position: relative;
  width: 500px;
  height: 500px;
}

#left-block {
  float: left;
}

#right-block {
  float: right;
}

#pic-block {
  width: 500px;
  height: 500px;
  border-radius: 2.5%;
  background-size: 500px 500px;
  background-image: url("../images/1.png");
}

#buttons {
  text-align: center;
}

button {
  width: 250px;
  height: 60px;
  margin: 20px 31px;
  font-size: 30px;
  background-color: black;
  color: white;
  border: none;
}

.pic {
  position: absolute;
  width: 125px;
  height: 125px;
  border-radius: 10%;
  border: solid white 1px;
  background-size: 500px 500px;
  opacity: 1;
}

.pic:hover {
  opacity: 0.9;
}

h1:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
