<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Info</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="userinfo.css" />
  </head>

  <body>
    <header><span id="header-signin">User Info</span></header>
    <div id="info-box">
      <div class="box">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>username</td>
              <td>#username#</td>
            </tr>
            <tr>
              <td>student id</td>
              <td>#sid#</td>
            </tr>
            <tr>
              <td>telephone</td>
              <td>#tel#</td>
            </tr>
            <tr>
              <td>e-mail</td>
              <td>#email#</td>
            </tr>
          </tbody>
        </table>
        <div class="link"><a href="/">Back</a></div>
      </div>
    </div>
  </body>
</html>
